

.navbar {
    min-width: 100%;
    /* FIXME research element below*/
    
    background-color: #012e40; 
    background-clip: border-box;
    justify-content: center; 
    align-items: flex-end;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    z-index: 100; /* to put in front of other content? */
}

.cream_bubble {
    max-width: 80%; 
    min-width: 80%;
    grid-column-gap: 0vw;
    grid-row-gap: 0vw; 
    /* aspect-ratio: auto; */
    object-fit: fill;
    background-color: #f2e3d5; 
    border: 1px solid #000; 
    border-radius: 20px;
    flex-flow: row;
    flex: none;
    justify-content: space-between;
    align-items: center;
    margin-left: 0; margin-right: 0;
    font-family: Montserrat, sans-serif;
    font-size: 2rem;
    line-height: 1rem;
    display: flex;
    position: static;
}

.body {
    min-width: 100%;
    background-color: #012e40;
    overflow-x: hidden;
}

.nav-menu {
    -webkit-text-stroke-color: #012e40;
    flex: none;
    margin-right: 0; 
    font-size: 1.5rem;
}

.logo_image {
    max-width: 52px; 
    min-width: 52px; 
    margin-right: 0; 
    padding-left: 1vw;
}

.section {
    min-width: 100vw;
    justify-content: center;
    padding-top:0;
    display: flex;
}

.nav-link {
    text-decoration: none;
    text-decoration-color: #012e40;
    color: #012e40;
    margin-right: 10px;

}

.home_image {
    max-width: 90%;
    margin-bottom: 150px;
    
}

.div-block {
    justify-content: center;
    display: flex;
    align-items: flex-start;
    min-height: 115vh;
    
}

.hero_text {
    color: #012e40;
    position: absolute;
    max-width: 35%;
    font-size: 1.5rem;
    line-height: 1.2;
    font-family: Montserrat, sans-serif;
    transform: translate(-49%, -5vw);
    margin-top: 10vw;

}

.main_aside {
    /* position: fixed; */
    color: #f2e3d5;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #012e40;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5rem;
    
    transform: translate(23em, -10em);
}

.resume_button {
    position: fixed;
    color: #f2e3d5;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #012e40;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5rem;
    
    transform: translate(23em, -10em);
}

.resume_button:hover {
    background-color: #026773;
    padding: 10px 20px;
}

@media (max-width: 1400px) {
    .hero_text {
        transform: translate(0);
        font-size: 1.2rem;
        max-width: 60%;
    }
    .resume_button {
        transform: translate(0);
    }
    .main_aside {
        transform: translate(0);
    }
    .videos {
        width: 60vw
    }
  }
 
@media (max-width: 540px) {
.home_link {
    display: none;
}
.div-block {
    min-height: 25em;
}
}
@media (min-width: 1000px) {
.div-block {
    min-height: 115vh;
}
}
